* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

#general-container {
    width: 100%;
    height: 100%;
}

#main {}

.text-green {
    color: #6ABE00 !important;
}

.border-green {
    border-color: #6ABE00 !important;
}

.text-grey {
    color: #818181;
}

footer,
.bg-green {
    background-color: #6ABE00;
}

span .welcome {
    color: #818181;
    font-size: 36px;
    font-weight: bold;
}

.password-recover {
    font-size: 13px;
}